<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @chart.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chart.description %>
</p>


<%= image_tag @chart.photo.url %>


<%= link_to 'Edit', edit_chart_path(@chart) %> |
<%= link_to 'Back', charts_path %>
